# Second Life email configuration
EMAIL_HOST_USER=givesthingsasecondlife@gmail.com
EMAIL_HOST_PASSWORD=choaxttqifvurwwe
DEFAULT_FROM_EMAIL=givesthingsasecondlife@gmail.com
FRONTEND_URL=http://localhost:5173
DEBUG=True
